*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    margin: 20% 0;
}

.box2{
    width: 200px;
    height: 20opx;
    background-color: #f96c72;
}

.box1{
    background: #967dfc;
    width: 200px;
    height: 200px;
    position: relative;
    top: 0;
    left: 0;
    animation: animate1 10s backwards ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes animate1{
    25%{
        top: 0;
        left: -80%;
    }
}